.primeiraSessaoInicio {
    height: 75vh;
    background-image: url("../../assets/main/bannerInicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h2 {
        color: #fff;
        font-size: 32px;
        width: 30%;
        padding-left: 7%;
    }
}

.porqueDoarSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
    align-items: center;

    h2 {
        color: #005695;
        font-size: 40px;
        width: 92%;
    }
}

.cardsMotivos {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;

    section {
        background-color: #0157944D;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;

        p {
            font-size: 22px;
            text-align: center;
            width: 95%;
        }
    }
}

@media (max-width: 780px) {
    .primeiraSessaoInicio {
        height: 100%;
        padding: 6%;
        justify-content: center;

        h2 {
            width: 90%;
        }
    }
    .porqueDoarSection {
        height: 100%;

        h2 {
            font-size: 30px;
        }
    }

    .cardsMotivos {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 130vh;

        section {
            width: 70%;
        }
    }
}

